pipeline/Processed Blobs.json
{
	"name": "Processed Blobs",
	"properties": {
		"activities": [
			{
				"name": "Lookup Processible Blobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlogs]"
					},
					"dataset": {
						"referenceName": "processibleBlobs",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Iterate All Blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Processible Blobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Processible Blobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Blob Path",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobPath",
								"value": {
									"value": "@{item().Path}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "BlobName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"blobPath": {
				"type": "String"
			},
			"blobName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}